<footer class="cf fixed relative-l bg-primary-color bottom-0 w-100 pa3">
  <div  id="myDIV" style="display:none;">
      {{ partial "nav-links" . }}
  </div>

  <span onclick="myFunction()" class="db dn-ns f6 tc db mt4-ns ph3 pv2 link white hover-bg-primary-color ba b--white-40 w-60-ns">MENU</span>


</footer>

<script>
function myFunction() {
    var x = document.getElementById('myDIV');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>
