<header class="sans-serif">
  <div class="cover bg-center" style="background-image: url({{ .Params.featured_image }})">

    <div class="bg-black-30 pb5 pb6-m pb7-l">
      <nav class="dt w-100 mw8 center">

        <div class="dtc v-mid tr pa3 dn-l">
          <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="/" >How it Works</a>
          <a class="f6 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="/" >Pricing</a>
          <a class="f6 fw4 hover-white no-underline white-70 dn dib-l pv2 ph3" href="/" >About</a>
          <a class="f6 fw4 hover-white no-underline white-70 dn dib-l pv2 ph3" href="/" >Careers</a>
          <a class="f6 fw4 hover-white no-underline white-70 dib ml2 pv2 ph3 ba" href="/" >Sign Up</a>
        </div>
      </nav>
      <div class="tc-l mt4 mt5-m mt6-l ph3">
        <h1 class="f2 f1-l fw2 white-90 mb0 lh-titledn">
           Civic Hall Membership Guide
        </h1>
        <h2 class=" f3 white-80 mt3 mb4"></h2>

      </div>
    </div>
  </div>
</header>
