<a class="db pt2 pt4-l tc center" href="/">
  <img src="{{ .Site.Params.logo }}" alt="" class="w-25 w-50-l">
</a>

<a class="f4 f3-l fw9 brand-font link primary-color-dark dim db tc ph3 pb4 pb3-l" href="/">
   {{ .Site.Title | markdownify  }}
</a>


<div class="f6 mv3-l tracked w-100 overflow-auto dn db-l">
  {{ partial "nav-links" . }}
</div>

<a href="{{ .Site.Params.member_log_in}}" target="_blank" title="this link takes you to another site to log in" class="absolute top-0 right-0 static-l f6 tc db mt4-l ml4 ph3 pv2 link white hover-bg-primary-color ba b--white-40 fl">
  Member Portal &#x2197;
</a>
